.normal {
    background-color: #A0A29F !important;
    color: white !important;
}

    .normal:hover {
        background-color: #A0A29F !important;
        color: white !important;
    }

.fighting {
    background-color: #D3425F !important;
    color: white !important;
}

    .fighting:hover {
        background-color: #D3425F !important;
        color: white !important;
    }

.flying {
    background-color: #A1BBEC !important;
    color: white !important;
}

    .flying:hover {
        background-color: #A1BBEC !important;
        color: white !important;
    }

.poison {
    background-color: #B763CF !important;
    color: white !important;
}

    .poison:hover {
        background-color: #B763CF !important;
        color: white !important;
    }

.ground {
    background-color: #DA7C4D !important;
    color: white !important;
}

    .ground:hover {
        background-color: #DA7C4D !important;
        color: white !important;
    }

.rock {
    background-color: #C9BB8A !important;
    color: white !important;
}

    .rock:hover {
        background-color: #C9BB8A !important;
        color: white !important;
    }

.bug {
    background-color: #92BC2C !important;
    color: white !important;
}

    .bug:hover {
        background-color: #92BC2C !important;
        color: white !important;
    }

.ghost {
    background-color: #5F6DBC !important;
    color: white !important;
}

    .ghost:hover {
        background-color: #5F6DBC !important;
        color: white !important;
    }

.steel {
    background-color: #5695A3 !important;
    color: white !important;
}

    .steel:hover {
        background-color: #5695A3 !important;
        color: white !important;
    }

.fire {
    background-color: #FBA54C !important;
    color: white !important;
}

    .fire:hover {
        background-color: #FBA54C !important;
        color: white !important;
    }

.water {
    background-color: #539DDF !important;
    color: white !important;
}

    .water:hover {
        background-color: #539DDF !important;
        color: white !important;
    }

.grass {
    background-color: #5FBD58 !important;
    color: white !important;
}

    .grass:hover {
        background-color: #5FBD58 !important;
        color: white !important;
    }

.electric {
    background-color: #F2D94E !important;
    color: white !important;
}

    .electric:hover {
        background-color: #F2D94E !important;
        color: white !important;
    }

.psychic {
    background-color: #FA8581 !important;
    color: white !important;
}

    .psychic:hover {
        background-color: #FA8581 !important;
        color: white !important;
    }

.ice {
    background-color: #75D0C1 !important;
    color: white !important;
}

    .ice:hover {
        background-color: #75D0C1 !important;
        color: white !important;
    }

.dragon {
    background-color: #0C69C8 !important;
    color: white !important;
}

    .dragon:hover {
        background-color: #0C69C8 !important;
        color: white !important;
    }

.dark {
    background-color: #595761 !important;
    color: white !important;
}

    .dark:hover {
        background-color: #595761 !important;
        color: white !important;
    }

.fairy {
    background-color: #EE90E6 !important;
    color: white !important;
}

    .fairy:hover {
        background-color: #EE90E6 !important;
        color: white !important;
    }

.stellar {
    background: linear-gradient(to right,     blue,     green,     yellow,     orange,     red,     pink,     purple) !important;
    color: white !important;
}

    .stellar:hover {
        background: linear-gradient(to right,     blue,     green,     yellow,     orange,     red,     pink,     purple) !important;
        color: white !important;
    }